@{
    var customerName = Request.Form["CustomerName"];
}
@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Exercise01: Basic form Processing";
}
@section head{
    <link href="~/Content/myStyleSheet.css" rel="stylesheet" />
}
@section banner{
    <span style="font-size:xx-large"><strong>@Page.Title</strong></span>}
<div>
    @if (IsPost)
    {

    }

    <form id="EX01" method="post">
        <div class="row">
            <div class="col-md-3 form-group">
                <p>Customer Name:</p>
                <input type="text" name="Customer" />
            </div>
            <div class="col-md-9 form-group">
                <label>Choose your meal items</label><br />
                <input type="checkbox" value="Steak" />Steak<br />
                <input type="checkbox" value="Seafood" />Seafood<br />
                <input type="checkbox" value="Vegetables" />Vegetables
            </div>
        </div>
    </form>
</div>
@section footer{
    <p>&copy CPSC1517, Nait Today's date is @DateTime.Today.ToLongDateString().</p> }


